[submodule "Server/Capsule"]
	path = Server/Capsule
	url = https://github.com/YohanHadji/Capsule.git
[submodule "Server/ERT_RF_Protocol_Interface"]
	path = Server/ERT_RF_Protocol_Interface
	url = https://github.com/EPFLRocketTeam/ERT_RF_Protocol_Interface.git
	branch = main
