[submodule "ERT_RF_Protocol_Interface"]
	path = ERT_RF_Protocol_Interface
	url = https://github.com/EPFLRocketTeam/ERT_RF_Protocol_Interface
[submodule "Capsule"]
	path = Capsule
	url = https://github.com/YohanHadji/Capsule.git
[submodule "XRF_interface"]
	path = XRF_interface
	url = https://github.com/MorgesHAB/XRF_interface.git
